<section class="info-panel" style="background-image:url({{ options.cta_bkg_img['url'] }} );">
  <div class="container">
    <span class="info-text">{{ options.cta_info_text }}</span>
    <span class="phone"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <span class="text"> {{ options.phone_text }}<br><a href="tel:{{ options.cta_phone}}">{{ options.cta_phone }}</a></span></span>
    <span class="gift"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> <a href="{{options.cta_prime_url }}" target="_blank">{{ options.cta_closing_text }}</a></span>
  </div>
</section>