<aside class="sidebar">
	<div class="four-blocks">
		<div class="block dark">
			<img src="{{ TimberImage(sidebar_img) }}" alt="sidebar top image">
			<div class="holder">
				<h2>{{ sidebar_content }}</h2>
			</div>
		</div>
	</div>
	<div class="four-blocks gift">
		<div class="block grey">
			<img src="{{ TimberImage(sidebar_middle_img) }}" alt="sidebar middle image">
			<div class="holder">
				<h2>{{ sidebar_middle_content }}</h2>
			</div>
		</div>
	</div>
	<div class="four-blocks">
		<div class="block dark">
			<img src="{{ TimberImage(bottom_cta_background_image) }}" alt="sidebar bottom image">
			<div class="holder">
				<h2>{{ bottom_cta_content }}</h2>
			</div>
		</div>
	</div>
</aside>