<section class="beefy subPage info-visual"> 
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-relative bio-single">
        <h1>{{ post.title }}</h1>
      </div>
    </div>
  </div>
</section>
<section class="content-holder">
  {% if TimberImage(post.get_field('team_head_shot')).src is empty %}
   <div class="container">
    <div class="row">
      <div class="content col-md-12 ">
        {{post.team_bio}}
        {# <a href="#" class="book">Book your appointment</a> #}
        {{ function( 'social_warfare' ) }}
      </div>
    </div>
  </div>
  {% else %}
 
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="{{ TimberImage(post.get_field('team_head_shot')).src }}" alt="" class="img-responsive">
      </div>
      <div class="content col-md-9 col-lg-8 ">
        {{post.team_bio}}
        {# <a href="#" class="book">Book your appointment</a> #}
        {{ function( 'social_warfare' ) }}
      </div>
    </div>
  </div>
  {% endif %}
</section>

{% include 'partials/cta.twig' %}

