<section class="beefy subPage info-visual">	
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-relative">
        <h1>Beauty Tips and Tricks</h1>
        <h5>All the things that make you beautiful and healthy</h5>
      </div>
    </div>
  </div>
</section>
<section class="block-holder page-block">
	<div class="container">
			<div class="the-blocks">
				{% for blog in posts %}
					<div class="blog-block">
						<div class="img-box">
							{% if blog.thumbnail.src is empty %}  
								<img src="http://placehold.it/400x225" alt="{{ post.title }}" class="img-responsive">
							{% else %}
								<img src="{{ blog.thumbnail.src }}" alt="{{ post.title }}" class="img-responsive">
							{% endif %}
						</div>
						<div class="meta">
							<div class="cat">
								<p>{{  blog.terms('category') | join(',')}}</p>
							</div>
							<div class="blog-content-holder">
								<p>{{ blog.title }}</p>
							</div>
							<div class="button-holder">
								<a href="{{ blog.link }}" class="blog-btn btn btn-default">READ MORE</a>
							</div>
						</div>
					</div>
				{% endfor %}
		</div>
	</div>
</section>
{% include 'partials/cta.twig' %}